// Note: this SCSS uses BEM notation whenever reasonable, it also must be compiled by running sass --watch style.scss:style.css
// This is where all of the sites reusable variables are 
:root {
    // base body styles for standard(dark mode)
    --body-background: #212529;
    --body-text: #fff;
    // base body styles for light mode
    --body-background-light: #fff;
    --body-text-light: #212529;
}





.body {
    background-color: var(--body-background);
    color: var(--body-text);
    margin: 0 20px;

    &--light {
        background-color: var(--body-background-light);
        color: var(--body-text-light);
    }

    .quoteContainer {
      margin: 20px auto 0;

      &__title{
        font-size: 25px !important;
      }

      &__quote{
        font-size: 18px;
      }
    }

    .aboutMeSection{
        margin-right: 0;
        margin-left: 0;

        &__img{
            &--img{
                width: 210px;
                height: auto;
                margin: auto;
            }
        
        }

        &__list{
            list-style-type: none;
            padding-left: 0;
            margin-top: 40px;
        }

        &__listTitle{

        }
        &__listCopy{

        }
    }
}



